.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.header__navbar {
  width: 100%;
  max-width: 1450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0 0;
}

.header__navbar__logo {
  font-size: 24px;
}

.header__navbar__logo > span {
  color: #df3f3f;
}

.header__navbar__menu {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 0;
}

.header__navbar__menu:hover {
  cursor: pointer;
}

.header__navbar__menu__line {
  width: 20px;
  height: 2px;
  background: #fff;
  margin: 6px 0 0 0;
}

.header__navbar__menu__line:first-child {
  width: 30px;
  margin: 0;
}

.header__navbar__menu__line:nth-child(2) {
  background-color: #df3f3f;
}

.sideNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
}

.sideNav__num {
  margin: 50px 0 0 0;
  display: flex;
  align-items: center;
}

.sideNav__num__icon {
  margin: 0 0 0 20px;
}

.sideNav__one {
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.footer__details {
  width: 100%;
  max-width: 1450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}

.footer__details__address {
  flex: 1;
  margin: 0 0 0 40px;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home__content {
  display: flex;
  flex-direction: column;
  max-width: 312px;
}

.home__content__title {
  position: relative;
}

.home__content__title > span {
  color: #df3f3f;
}

.home__content__title::before {
  content: "";
  position: absolute;
  background: url("./../images/icons/BREAKFAST.svg");
  width: 258.26px;
  height: 45.43px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: -145px;
}

.home__content__title::after {
  content: "";
  background: url("./../images/icons/titleIcon.svg");
  position: absolute;
  width: 40px;
  height: 40px;
  right: 80px;
  top: -10px;
}

.home__content__title,
.home__content__title > span {
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
}

.home__content__btns {
  margin: 50px 0 0 0;
  display: flex;
  position: relative;
}

.home__content__btns::before {
  content: "";
  width: 113.38px;
  height: 45.43px;
  background: url("./../images/icons/FOOD.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -120px;
  left: -90px;
}

.home__content__btns__book {
  margin: 0 40px 0 0;
}

.home__content__btns__book, .home__content__btns__menu {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
}

.home__content__btns__book::before, .home__content__btns__menu::before {
  content: "";
  width: 100%;
  height: 1px;
  bottom: -2px;
  background: #fff;
  clip-path: polygon(45% 0, 55% 0, 55% 100%, 45% 100%);
  transition: 0.3s clip-path ease-in-out;
  position: absolute;
}

.home__content__btns__book:hover::before, .home__content__btns__menu:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.home__image {
  max-width: 720px;
  height: 100%;
  position: relative;
}

.home__image::before {
  content: "";
  background: url("./../images/icons/Sensations.svg");
  width: 153px;
  height: 720px;
  right: -76px;
  bottom: 20px;
  position: absolute;
}

.home__image::after {
  content: "";
  height: 100vh;
  width: 92%;
  position: absolute;
  top: 0;
  left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.home__image__snack, .home__image__lunch {
  position: absolute;
  z-index: -1;
}

.home__image__snack {
  top: 30px;
  right: -135px;
}

.home__image__lunch {
  left: -135px;
  bottom: 70px;
}

.home__image__bg {
  height: 100%;
  box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.5);
}

.home__bg {
  position: absolute;
  right: 30px;
  top: 87vh;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

body {
  font-family: "Teko", sans-serif;
  background: #1c1c1c;
  position: relative;
}

#root {
  position: static;
}

button {
  background: none;
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.main {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */