// header
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;

  // header__navbar
  &__navbar {
    width: 100%;
    max-width: 1450px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 30px 0 0 0;

    // header__navbar__logo
    &__logo {
      font-size: 24px;

      & > span {
        color: $red;
      }
    }
    // header__navbar__menu
    &__menu {
      display: flex;
      flex-direction: column;

      margin: 0 30px 0 0;

      &:hover {
        cursor: pointer;
      }

      // header__navbar__menu__line
      &__line {
        width: 20px;
        height: 2px;
        background: $white;
        margin: 6px 0 0 0;

        &:first-child {
          width: 30px;
          margin: 0;
        }
        &:nth-child(2) {
          background-color: $red;
        }
      }
    }
  }
}
