// home
.home {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  // home__content
  &__content {
    display: flex;
    flex-direction: column;
    max-width: 312px;

    // home__content__title
    &__title {
      position: relative;

      & > span {
        color: $red;
      }

      &::before {
        content: "";
        position: absolute;
        background: url("./../images/icons/BREAKFAST.svg");
        width: 258.26px;
        height: 45.43px;
        background-size: contain;
        background-repeat: no-repeat;

        top: 0;
        left: -145px;
      }
      &::after {
        content: "";
        background: url("./../images/icons/titleIcon.svg");
        position: absolute;
        width: 40px;
        height: 40px;
        right: 80px;
        top: -10px;
      }
    }
    &__title,
    &__title > span {
      font-size: 72px;
      font-weight: 400;
      text-transform: uppercase;
    }

    // home__content__btns
    &__btns {
      margin: 50px 0 0 0;
      display: flex;
      position: relative;

      &::before {
        content: "";
        width: 113.38px;
        height: 45.43px;
        background: url("./../images/icons/FOOD.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -120px;
        left: -90px;
      }
      // home__content__btns__book
      &__book {
        margin: 0 40px 0 0;
      }
      &__book,
      &__menu {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        position: relative;

        display: flex;
        align-items: center;
      }
      &__book::before,
      &__menu::before {
        content: "";
        width: 100%;
        height: 1px;
        bottom: -2px;
        background: #fff;
        clip-path: polygon(45% 0, 55% 0, 55% 100%, 45% 100%);
        transition: 0.3s clip-path ease-in-out;
        position: absolute;
      }
      &__book:hover::before,
      &__menu:hover::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }

  // home__image
  &__image {
    max-width: 720px;
    height: 100%;

    position: relative;

    &::before {
      content: "";
      background: url("./../images/icons/Sensations.svg");
      width: 153px;
      height: 720px;
      right: -76px;
      bottom: 20px;
      position: absolute;
    }
    &::after {
      content: "";
      height: 100vh;
      width: 92%;

      position: absolute;
      top: 0;
      left: -40px;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.5);
    }

    // home__image__snack && home__image__lunch
    &__snack,
    &__lunch {
      position: absolute;
      z-index: -1;
    }
    &__snack {
      top: 30px;
      right: -135px;
    }
    &__lunch {
      left: -135px;
      bottom: 70px;
    }

    // home__image__bg
    &__bg {
      height: 100%;
      box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.5);
    }
  }

  // home__bg
  &__bg {
    position: absolute;
    right: 30px;
    top: 87vh;
  }
}
